.item-wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10
  overflow: hidden
  background-color: #ffffff
  text-align: center
  .title
    padding: 10px
  .link
    display: inline-block
    padding: 10px
    border: 1px solid #ccc;
    
