@import '../common/styles/mixin.styl'
.app
  position: relative
  display: flex
  flex-direction: column
  height: 100vh
  .header
    display: flex
    flex: 0 0 100px;
    align-items: center
    justify-content: center
    font-size: 30px
    border-bottom-1px(#e5e5e5);
  .main
    position: relative
    flex: 1
  