<app-scroll [probeType]="probeType" 
            [clickable]="clickable" 
            [pullUpLoad]="pullUpLoadObj"
            [pullDownRefresh]="pullDownRefreshObj"
            (scrollPos)="hander($event)"
            (pullingUp)="onPullingUp()"
            (pullingDown)="onPullingDown()"
            [data]="list">
  <ul name="scroll" class="list-content" #listView>
    <li *ngFor="let item of list; let i = index" class="list-item" (click)="clickItem(item, i)">{{item}}</li>
  </ul>
</app-scroll>
