@import "../../common/styles/mixin"

.list-content
  position: relative
  z-index: 10
  .list-item
    height: 60px
    line-height: 60px
    font-size: 18px
    padding-left: 20px
    border-bottom-1px(#e5e5e5);
