<div class="scroll-wrapper" #wrapper>
  <div class="scroll-content">
    <ng-content select="[name=scroll]" #list></ng-content> <!-- 插槽 -->
    <div class="pullup-wrapper">
      <div class="before-trigger" *ngIf="!isPullUpLoad">
        <span>{{pullUpTxt}}</span>
      </div>
      <div class="after-trigger" *ngIf="isPullUpLoad">
        <span>加载中...</span>
      </div>
    </div>
  </div>
  <div class="pulldown-wrapper">
    <div class="before-trigger" *ngIf="beforePullDown">
      <app-bubble></app-bubble>
    </div>
    <div class="after-trigger" *ngIf="!beforePullDown">
      <div class="loading" *ngIf="pulling">
        <span></span>
      </div>
      <div *ngIf="!pulling">
        <span>刷新中...</span>
      </div>
    </div>
  </div>
</div>
