<div class="scroll-wrapper" #wrapper>
  <div class="scroll-content" #listWrapper>
    <ng-content select="[name=scroll]" #list></ng-content> <!-- 插槽 -->
    <div class="pullup-wrapper">
      <div class="before-trigger" *ngIf="!isPullUpLoad">
        <span>{{pullUpDirty ? moreTxt : noMoreTxt}}</span>
      </div>
      <div class="after-trigger" *ngIf="isPullUpLoad">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
  <div class="pulldown-wrapper" [ngStyle]="{'top':pullDownStyle}">
    <div class="before-trigger" *ngIf="beforePullDown">
      <app-bubble [y]="bubbleY"></app-bubble>
    </div>
    <div class="after-trigger" *ngIf="!beforePullDown">
      <div class="loading" *ngIf="pulling">
        <app-loading></app-loading>
      </div>
      <div *ngIf="!pulling">
        <span>{{refreshTxt}}</span>
      </div>
    </div>
  </div>
</div>
